@tailwind preflight;
/*custom headers*/
.header{
	@apply .border-b .p-4 .text-teal;
}

@screen md{
	.header{
		@apply .flex .items-center .justify-between;
	}
}


.badge{
	@apply .rounded-full .bg-grey-light .uppercase .px-2 .py-1 .text-xs .font-bold .mr-3;
}
/*custom nav links*/

.nav-link{
	@apply .block  .py-4  .no-underline  .text-teal-darker; 
}
.nav-link:hover{
		@apply .underline .text-teal-light;
}
@screen md{
	.nav-link{
		@apply .inline .ml-8 .p-0;
	}
}

.breadcrumb-item:not(:last-child):after {
  content: ">";
}

.breadcrumb-item2:not(:last-child):after {
  content:" >>";
}

#cardWrap{
	margin:50px;
}

#cardWrap> img{
	height:200px;
	display: inline-block;
	vertical-align: middle;
}

#cardcontentContainer{
	/*width:250px;*/
	height:200px;
	padding: 20px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
}

#cardcontentContainer> h2{
	margin-bottom: 10px;
	font-size: 1.5em;

}

#cardcontentContainer> p{
	line-height: 1.25;
	font-size: .95em;
}

.footer{
	width: 100%;
	height:300px;
	background-color: #282c2f;
	margin-top: 40px;
}

.bg-hero {
  background: url(https://images.unsplash.com/photo-1508234562163-534667a7e3ea?ixlib=rb-0.3.5&s=520fe8a80f2e9d09a45af76836cdc894&auto=format&fit=crop&w=1649&q=80) center center no-repeat;
  background-size: cover;
}

.bg-hero2 {
  background: url(https://images.unsplash.com/photo-1490569910163-666f677dfc02?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a139aa811948bb5da779dcb00b09115b&auto=format&fit=crop&w=1650&q=80) center center no-repeat;
  background-size: cover;
}
./*btn {
  background: purple;
  border-radius: 240px;
  color: white;
  padding: 1rem;
  text-decoration: none;
}*/
/*.mt-8{
	margin-top: 8px;
}*/
.mb-8 {
  margin-bottom: 2rem;
}



.h-90 {
  height: 90vh;
}

.p-8 {
  padding: 3rem;
}

.vertical-m{
    width: 200px;
}

.vertical-m a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-m a:hover {
    background-color: #ccc;
}

.vertical-m a.active {
    background-color: #4dc0b5;
    color: white;
}

.pagination a {
    color: #0d3331;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4dc0b5;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #a0f0ed;}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

.specialFeat {
  position: relative;
    color: #8795a1;
    text-decoration-color: #ffffff;
    text-decoration: none;
    background-color:#dae1e7 ;
    font-family: 'Cantarell';
    font-weight: 700;
    font-size: 1.125rem;
    display: block;
    padding: 6px;
    border-radius: 12000px;
    box-shadow: 0px 4px 0px, 0px 6px 11px;
    margin: 100px auto;
  width: 160px;
  text-align: center;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.specialFeat:active {
   
    box-shadow: 0px 3px 0px, 0px 3px 6px;
    position: relative;
    top: 6px;
}
@tailwind utilities;

